:root {

    --primario: hsl(256, 26%, 20%);
    --secundario: hsl(216, 30%, 68%);
    --neutralDarkViolet: hsl(270, 9%, 17%);
    --neutralDarkishViolet: hsl(273, 4%, 51%);
    --veryLightGray: hsl(0, 0%, 98%);


    --separacion: 5rem;

    --fuentePrincipal: 'DM Serif Display', sans-serif;
    --fuenteSecundaria: 'Karla', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
}

/** GLOBALES **/
.contenedor {
    max-width: 140rem;
    width: 90%;
    margin: 0 auto;
}

h1,h2,h3 {
    font-weight: 400;
    font-family: var(--fuentePrincipal);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {font-size: 4.4rem;}
h2 {font-size: 3.6rem;}
h3 {font-size: 2.8rem;}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/** UTILIDADES **/
.text-center {
    text-align: center;
}

/** HEADER **/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.menu-principal {
    display: flex;
    gap: 1.5rem;
}

.menu-principal a {
    text-decoration: none;
    color: var(--neutralDarkishViolet);
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 700;
}

.menu-principal a:hover {
    background-color: var(--primario);
    color: var(--veryLightGray);
}

.menu-principal a:active {
    color: var(--primario);
    background-color: var(--veryLightGray);
}

/** Portada **/
.bg-portada {
    background-color: var(--primario);
    padding-top: 6rem;
    height: 55rem;
}
.portada {
    display: flex;
    justify-content: space-between;
    
}

.title-portada {
    color: var(--veryLightGray);
    font-size: 7rem;
    line-height: 1;
    
}

.text-portada {
    color: var(--veryLightGray);
    font-size: 2rem;
    
}

.boton-portada {
    text-decoration: none;
    color: var(--veryLightGray);
    text-transform: uppercase;
    border: 1px solid var(--veryLightGray);
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
}

.foto-portada {
    width: 48rem;
}

/** CARACTERISTICAS **/
.caracteristicas {
    margin-top: 20rem;
}

.c-title {
    font-size: 5rem;
    color: var(--primario);
}

.c-items {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    gap: 3rem;
}
.i-text {
    max-width: 80%;
}

/** BANNER **/ 
.banner {
    background-color: var(--primario);
    color: var(--veryLightGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    margin-top: 10rem;
    padding: 0 7rem;
}

.banner h2 {
    font-size: 5rem;
    line-height: 1;
}


/** FOOTER **/
.footer {
    background-color: var(--veryLightGray);
    margin-top: 12rem;
}

.foot-icons {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 5rem 0;
    border-bottom: 1px solid var(--neutralDarkishViolet);
}

.social-media {
    display: flex;
    gap: 1.5rem;
}

.foot-nav {
    display: flex;
    gap: 30rem;
    margin-top: 5rem;
    
}

.nav p {
    color: var(--primario);
    text-transform: uppercase;
    font-weight: 700;
}

.title-foot {
    color: var(--neutralDarkishViolet) !important;
    margin-bottom: 3rem;
}

.attribution {
    text-align: center;
    margin-top: 5rem;
}